
@media(max-width:370px){

    .wrapper{
        display: grid;
        margin-left: 0%;
        padding: 0px;
        margin-bottom: 0px;
        grid-template-columns: 3.5% 80%;
        grid-template-areas: 
            'logo nav';
    }

    body{
        margin: 0%;
        padding: 0%;
        background-color: white;
        background-attachment: fixed;
        background-size: 100%;
    }

    .logo{
        grid-area: logo;
        padding-left: 0em;
        padding: 2.5em;
        margin-left: 0rem;
        margin-bottom: 0%;
        background-image: url('/Images/Green.png');
        background-repeat: no-repeat;
        background-size: 70%;
    
    }
    .navigation{
        padding: 0%;
        grid-area: nav;
        margin-left: 0%;
        margin-top: 4%;
    }

    .navigation ul {
    
        display: grid;
        grid-gap: 0em;
        list-style: none;
        text-align: center;
        font-family: lato;
        
    }


    /** Landing Page **/

    .landing_page{
        display: grid;
        grid-template-areas: 
            'Text'
            'Image';
        grid-template-columns: 119%;
        grid-template-rows: repeat(2, 0.5fr);
        margin-top: 0em;
        margin: 0%;
        padding: 0px;
        padding-top: 0%;

    }

    /**Left Container**/
    .one{
        grid-area:Text; 
        display: block;
        margin: 0%;
        padding: 10% 6% 0% 0%;
        background-color: rgb(255, 255, 255);
        

    }
    .one h1{
        font-family: lato;
        padding-left: 0.3em;
        padding-right: 3px;
        text-align: left;
        font-size: 25pt;
        text-transform: uppercase;
    }

    .one p{
        font-family: Montserrat;
        padding-left: 0.9em;
        padding-right: 1em;
        padding-bottom: 1em;
        text-align: left;
        font-size: 12pt;

    }

    .one a {
        background-color: rgb(230, 3, 116);
        color: white;
        padding: 1em;
        margin-top: 0em;
        text-align: center;
        text-decoration: none;
        padding-left: 20%;
        padding-right: 22%;
    }

    /** Image Container **/
    .second{
        grid-area: Image;
        background-color: antiquewhite;
        background-image: url('/Images/Main.jpg');
        background-size: 90%;
        background-repeat: no-repeat;
        padding-top: 50%;
        
    } 


    .subject{
        margin-top: 25px;
        margin-right: 0px;
        margin-left: 0px;
        display: grid;
        grid-template-rows: repeat(3,0.5fr);
        
        text-align: center;
        font-family: Montserrat;
        font-size: 8pt;
        grid-gap: 1em;
        grid-template-areas: 
            "python"
            " fullstack"
            "Ai";
        
    }

    .Python{
        grid-area: python;
        background-color: rgb(255, 255, 255);
        padding-top: 50%;
        text-align: center;
        background-image: url('/Images/Python.png');
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: 10%;
        margin-bottom: 10px;
        padding-right: 370px;
        align-content: center;
         
        
    }
    
    .Python h2{
        background-color: white;
        padding: 1.5px;
        padding-left: 10%;
        text-align: left;
        padding-right: 0rem;
    }
    
    .fullstack{
        grid-area: fullstack;
        background-color: rgb(255, 250, 230);
        padding-top: 50%;
        text-align: center;
        background-image: url('/Images/Fullstack.png');
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: 0%;
    
    }
    .fullstack h2{
        background-color: white;
        padding: 1.5px;
        text-align: left;
        padding-right: 0rem;
    }
    
    .ai{
        grid-area: Ai;
        background-color: rgb(250, 250, 250);
        padding-top: 50%;
        text-align: center;
        background-image: url('/Images/AI_2.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0%;
        
    }
    
    .ai h2{
        background-color: white;
        padding: 1.5px;
        text-align: left;
        padding-right: 0rem;
    }

    /**contacts**/
    .contact{
        display: grid;
        grid-template-rows: 40% 20% 40%;
        grid-template-areas: 
            'address'
            'email'
            'social';
        grid-gap: 0.3em;
        margin-top: 5%;
        background-color: rgb(238, 238, 238);
        padding: 0px 425px 5px 4px;
    }

    .address{
        grid-area: address;
        font-family: Montserrat;
        font-size: 8pt;
        
        text-align: left;
    }

    .email {
        grid-area: email;
        font-family: Montserrat;
        font-size: 8pt;
        text-align: left;
        color: black;
        text-align: left;
    }

    .email a{
        color: black;
    }

    .social{
        grid-area: social;
        font-family: Montserrat;
        font-size: 8pt;
        text-align: left;
    }

    /**footer**/
    footer{
        text-align: left;
        font-family: Montserrat;
        font-size: 8pt;
    }



}